.wrapper {
  margin: 0 2vw;
}
.qr-code {
  position: fixed;
  bottom: 150px;
  right: 2vw;
  width: 35vw;
  height: 44vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(46, 41, 41, 0.6);
  color: #fff;
}
.qr-code .contain {
  height: 10vw;
  line-height: 10vw;
  font-size: 2.6667vw;
}
.qr-code .content img {
  position: absolute;
  width: 33vw;
  height: 33vw;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.qr-code .content img:nth-child(1) {
  z-index: 1;
}
.qr-code .content img:nth-child(2) {
  animation: qrcodeAnima2 0.5s ease infinite;
}
@keyframes qrcodeAnima2 {
  form {
    z-index: 0;
  }
  to {
    z-index: 2;
  }
}
.bili .desc {
  padding: 0 2vw;
  background-color: rgba(221, 212, 212, 0.5);
  font-size: 5.3333vw;
}
.bili .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bili .content a,
.bili .content .item {
  display: block;
  width: 30vw;
  margin-top: 10px;
  font-size: 2.6667vw;
  overflow: hidden;
  color: #000;
}
.bili .content a img,
.bili .content .item img {
  width: 30vw;
}
